<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <span>{{'Navi.ContentsManager'|translate}}</span>

  <button mat-button (click)="showEditor()">
    {{'ContentEditor.Register'|translate}}
  </button>
</mat-toolbar>

<mat-paginator
  [length]="list.totalCount"
  [pageSize]="list.perPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="reload($event)">
</mat-paginator>

<div fxLayout="row wrap">
  <mat-card class="contents-card"
    *ngFor="let item of list.items"
    mat-ripple (click)="showEditor(item)"
    matTooltip="{{item.title}}"
    fxlayout="row" fxlayoutalign="center center">
    <img mat-card-image [src]="item.banner" *ngIf="item.banner" />
  </mat-card>

  <mat-card class="contents-card" (click)="showEditor()"
    matTooltip="{{'ContentEditor.Register'|translate}}">
    <mat-card-content mat-ripple fxFill fxLayoutAlign="center center">
      <fa-icon icon="plus" size="4x"></fa-icon>
    </mat-card-content>
  </mat-card>
</div>
