<div class="upload-box">
  
  <div class="upload-box-content">
    <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      <p>
        {{'FileUploader.Hint.DragAndDrop'|translate}} or
        <label class="upload-button">
          <fa-icon icon="folder-open"></fa-icon>
          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
          {{'Common.Browse'|translate}}
        </label>
      </p>
    </div>
    <div class="upload-item" *ngFor="let f of files; let i = index;">
      <div class="upload-item-content">
        <div class="filename" fxlayout="row">
          <mat-icon>file_copy</mat-icon>
          <span>{{ f.name }}</span>
          <button mat-icon-button color="warn" (click)="drop(f?.id)">
            <mat-icon>backspace</mat-icon>
          </button>
          <div *ngFor="let idx of filePurposes[f.id]; let i = index">
            <mat-form-field>
              <mat-select placeholder="용도" [(ngModel)]="filePurposes[f.id][i]">
                <mat-option *ngFor="let opt of purposeOptions|enumerate" [value]="opt.key">
                  {{opt.value|translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="warn"
              (click)="removePurpose(f, opt)"
              matTooltip="용도 제거" matTooltipPosition="above">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <button mat-icon-button color="primary"
            (click)="addPurpose(f)"
            matTooltip="용도 추가" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="progress-content" *ngIf="f?.progress?.status > 0">
          <div class="progress">
            <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'" [class.is-done]="f?.progress?.data?.percentage === 100"></span>
          </div>
        </div>
        <div class="progress-text-content" *ngIf="f?.progress?.status > 0">
          <span class="progress-text" [class.is-done]="f?.progress?.data?.percentage === 100">
            <span>{{ f.progress?.data?.percentage }}% </span>
            <span *ngIf="f.progress?.data?.percentage !== 100">{{'FileUploader.Uploading'|translate}}...</span>
            <span *ngIf="f.progress?.data?.percentage === 100">{{'Common.Done'|translate}}</span>
          </span>
          <span class="speed-and-eta-text" *ngIf="f.progress?.data?.percentage !== 0 && f.progress?.data?.percentage !== 100">
            <span>{{ f.progress?.data?.speedHuman }} </span>
            <span>ETA {{ f.progress?.data?.etaHuman }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
