
<form fxLayout="column" fxLayoutAlign=" stretch" [formGroup]="editor">
  <input type="hidden" formControlName="id" />
  <mat-form-field>
    <mat-select
      formControlName="category"
      placeholder="{{'ContentEditor.Labels.Category'|translate}}">
      <mat-option *ngFor="let cat of categories"
        [value]="cat.id">{{cat.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="title" placeholder="{{'ContentEditor.Labels.Title'|translate}}" />
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="author" placeholder="{{'ContentEditor.Labels.Author'|translate}}"  />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" rows="5" placeholder="{{'ContentEditor.Labels.Description'|translate}}"></textarea>
  </mat-form-field>

  <app-running-time formControlName="runningTime"></app-running-time>

  <mat-form-field>
    <input matInput readonly formControlName="length"
      placeholder="{{'ContentEditor.Labels.ContentsLength'|translate}}" />
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="recordedLocation"
      placeholder="{{'ContentEditor.Labels.RecordedLocation'|translate}}" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="recordedAt"
      placeholder="{{'ContentEditor.Labels.RecordedTimestamp'|translate}}" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-file-drop #uploader (totalLengthUpdated)="updateTotalSize($event)"></app-file-drop>
</form>