<mat-toolbar *ngIf="displayMenu">
  <span>{{'ApplicationTitle'|translate}}</span>

  <button mat-button routerLink="/contents">{{'Navi.ContentsManager'|translate}}</button>
  <button mat-button [matMenuTriggerFor]="settings">{{'Navi.SettingsManager'|translate}}</button>
  <button mat-button routerLink="/faq">{{'Navi.FAQManager'|translate}}</button>
  <button mat-button routerLink="/notice">{{'Navi.NoticeManager'|translate}}</button>

  <button mat-stroked-button color="warn" (click)="logout()">{{'Navi.SignOut'|translate}}</button>

  <mat-menu #settings="matMenu">
    <button mat-menu-item routerLink="/contents-categories">{{'Navi.CategoryManager'|translate}}</button>
  </mat-menu>
</mat-toolbar>

<div class="container-fluid" >
  <router-outlet></router-outlet>
</div>
