<div class="container" fxLayout="column" fxLayoutAlign="center center">
<mat-card>
  <mat-card-content class="editor" fxLayout="row" fxlayoutalign="center center">
    <form class="editor" >
      <mat-form-field class="addinput">
        <mat-label>{{'ContentEditor.Labels.Category'|translate}}</mat-label>
        <input matInput [formControl]="editor">
      </mat-form-field>
      <button  *ngIf="!inAction" mat-stroked-button class="addbtn" (click)="add()">{{'Common.Add'|translate}}</button>  
    </form>
    <mat-spinner diameter="50" *ngIf="inAction"></mat-spinner>
    
  </mat-card-content>
</mat-card>
  
</div>


<section fxLayout="row" fxLayoutAlign="center">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of items" cdkDrag>
      <div>{{item.name}}</div>
      <button mat-icon-button color="warn" (click)="remove(item)">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
</section>