.mat-dialog-content{
    width:500px;
}
mat-form-field{
    display: block;
}
textarea{
    resize: none;
    height: 100px;
}
p{
    width: 100%;
    height: 2px;
    background: white;
    position: relative;
}
p::after{
    position: absolute;
    right: 0;
    bottom: -5px;
    content: " ";
    width: 12px;
    height: 12px;
    background: #eee;
    border-radius: 50%;
}
#box{
    position: relative;
}

div>button:nth-child(1){
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 20px;
}
div>button:nth-of-type(2){
    width: 30%;
    margin: 10px auto;;
    
}