@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


.docs-app-background {
  background: #303030;
  color: white;
}

.docs-primary-header {
  background: #e91e63; }
  .docs-primary-header h1 {
    color: white; }

.docs-footer {
  background: #e91e63;
  color: white; }